In [1]:
import pandas as pd

df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

### 1. Match the following characteristics of this dataset: 
- total number of actions
- number of unique users
- sizes of the control and experiment groups (i.e., the number of unique users in each group)

In [2]:
# total number of actions
df.shape

(8188, 4)

In [31]:
# number of unique users
df.id.nunique()

6328

In [32]:
# size of control group and experiment group
df.group.value_counts()

control       4264
experiment    3924
Name: group, dtype: int64

### 2. How long was the experiment run for? 
Hint: the records in this dataset are ordered by timestamp in increasing order

In [28]:
# duration of this experiment
from datetime import datetime
fmt = '%Y-%m-%d %H:%M:%S.%f'

tstamp1 = datetime.strptime(df.timestamp.min(), fmt)
tstamp2 = datetime.strptime(df.timestamp.max(), fmt)
diff = tstamp2 - tstamp1
print (diff)
print (diff/30)

115 days, 16:41:40.789831
3 days, 20:33:23.359661

### 3. What action types are recorded in this dataset?
(i.e., What are the unique values in the action column?)

In [14]:
# action types in this experiment
df.action.value_counts()

view     6328
click    1860
Name: action, dtype: int64

### 4. Why would we use click through rate instead of number of clicks to compare the performances of control and experiment pages?

Answer

In [37]:
df.query('group == "experiment" & action == "click"').id.nunique()/ df.query('group == "experiment" & action == "view"').id.nunique()

0.3097463284379172

In [36]:
df.query('group == "experiment"')

                       timestamp      id       group action
0     2016-09-24 17:42:27.839496  804196  experiment   view
1     2016-09-24 19:19:03.542569  434745  experiment   view
2     2016-09-24 19:36:00.944135  507599  experiment   view
4     2016-09-24 20:26:14.466886  536734  experiment   view
5     2016-09-24 20:32:25.712659  681598  experiment   view
6     2016-09-24 20:39:03.248853  522116  experiment   view
7     2016-09-24 20:57:20.336757  349125  experiment   view
8     2016-09-24 20:58:01.948663  349125  experiment  click
10    2016-09-24 21:00:41.351487  265695  experiment   view
11    2016-09-24 21:05:15.348935  601714  experiment   view
12    2016-09-24 21:06:27.553057  601714  experiment  click
13    2016-09-24 21:09:09.046127  416862  experiment   view
14    2016-09-24 21:29:19.766467  487634  experiment   view
15    2016-09-24 21:30:02.739756  487634  experiment  click
16    2016-09-24 23:01:08.713402  468601  experiment   view
17    2016-09-24 23:01:12.108316  468601  experiment  click
18    2016-09-24 23:08:35.540897  293251  experiment   view
19    2016-09-24 23:50:31.623841  515303  experiment   view
20    2016-09-25 00:00:47.700734  555973  experiment   view
21    2016-09-25 00:01:47.933853  555973  experiment  click
22    2016-09-25 00:06:13.556666  756950  experiment   view
29    2016-09-25 03:28:47.603433  444902  experiment   view
30    2016-09-25 03:29:16.000743  444902  experiment  click
33    2016-09-25 03:51:40.536864  710625  experiment   view
35    2016-09-25 04:14:28.942153  588929  experiment   view
39    2016-09-25 05:42:34.858176  269335  experiment   view
40    2016-09-25 05:44:09.740212  269335  experiment  click
42    2016-09-25 06:02:34.302094  694237  experiment   view
43    2016-09-25 06:36:22.815564  685428  experiment   view
44    2016-09-25 06:59:23.730896  596892  experiment   view
...                          ...     ...         ...    ...
8121  2017-01-17 10:26:59.010730  439405  experiment   view
8122  2017-01-17 10:46:34.064239  345356  experiment   view
8131  2017-01-17 14:50:29.141552  533887  experiment   view
8132  2017-01-17 15:08:41.151181  865656  experiment   view
8133  2017-01-17 15:09:17.533736  865656  experiment  click
8137  2017-01-17 15:44:18.822016  355804  experiment   view
8138  2017-01-17 16:01:31.199016  216493  experiment   view
8139  2017-01-17 16:26:01.904792  200483  experiment   view
8140  2017-01-17 16:42:00.074160  255648  experiment   view
8141  2017-01-17 16:42:00.214990  643143  experiment   view
8144  2017-01-17 17:54:25.288986  379368  experiment   view
8150  2017-01-17 18:59:22.453379  624911  experiment   view
8151  2017-01-17 20:14:00.072907  413359  experiment   view
8152  2017-01-17 20:14:12.483794  413359  experiment  click
8153  2017-01-17 20:20:25.109148  309608  experiment   view
8154  2017-01-17 21:03:36.086524  636469  experiment   view
8156  2017-01-17 21:26:15.199487  325247  experiment   view
8158  2017-01-17 22:25:46.403994  476061  experiment   view
8165  2017-01-18 00:10:25.664267  688102  experiment   view
8166  2017-01-18 00:55:55.026210  344770  experiment   view
8167  2017-01-18 00:56:24.554729  344770  experiment  click
8170  2017-01-18 01:29:24.805271  213386  experiment   view
8171  2017-01-18 02:42:24.610113  802584  experiment   view
8175  2017-01-18 06:47:59.152944  602287  experiment   view
8176  2017-01-18 07:07:50.090346  540466  experiment   view
8179  2017-01-18 08:53:50.910310  615849  experiment   view
8180  2017-01-18 08:54:56.879682  615849  experiment  click
8183  2017-01-18 09:11:41.984113  192060  experiment   view
8184  2017-01-18 09:42:12.844575  755912  experiment   view
8185  2017-01-18 10:01:09.026482  458115  experiment   view

[3924 rows x 4 columns]

### 5. Define the click through rate (CTR) for this experiment.

Answer

### 6. What are the null and alternative hypotheses?
Use $CTR_{old}$ and $CTR_{new}$ in your hypotheses.

$$H_0: $$
$$H_1: $$